.action-buttons{
    display:flex;
    justify-content:center;
    gap:10px;
}

.edit-btn{
    background:#0d6efd;
    color:#fff;
    border:none;
    padding:8px 18px;
    border-radius:5px;
    cursor:pointer;
}

.edit-btn:hover{
    background:#0b5ed7;
}

.delete-btn{
    background:#dc3545;
    color:#fff;
    border:none;
    padding:8px 18px;
    border-radius:5px;
    cursor:pointer;
}

.delete-btn:hover{
    background:#bb2d3b;
}